/pratica1/exercicio4/Aula03/nbproject/private/
/pratica1/exercicio4/Aula03/build/
/pratica2/ex1/JavaApplication3/nbproject/private/
/pratica2/ex1/Concessionaria/nbproject/private/
/pratica2/ex1/Concessionaria/build/
/pratica2/ex2/TesteHeranca/nbproject/private/
/pratica2/ex3/Ex3/nbproject/private/
/pratica3/exerciciosInterfaces/nbproject/private/
/pratica3/exerciciosInterfaces/build/
/Pratica5/nbproject/private/
/Pratica5/build/
/Pratica5/dist/
/praticaa5/segundaTela/nbproject/private/
/praticaa5/segundaTela/build/
/praticaa5/OlaJavaFX/nbproject/private/
/praticaa5/OlaJavaFX/build/
/praticaa5/OlaJavaFX/dist/
/pratica6/CadastroAluno/nbproject/private/
/pratica6/CadastroAluno/dist/
/pratica6/CadastroAluno/build/
/pratica7/Pratica7/nbproject/private/
/pratica7/Pratica7/build/
/pratica8/Lista Telefônica/nbproject/private/
/patrica9/TesteErro/nbproject/private/
/patrica9/TesteErro/build/
/pratica10/OrganizandoJava/nbproject/private/
/pratica10/OrganizandoJavaV2/nbproject/private/
/pratica10/OrganizandoJavaV2/build/
/pratica10/OrganizandoJavaV2/dist/
/pratica10/LibExemplo/nbproject/private/
/pratica11/HelloMySql/nbproject/private/
/pratica11/HelloMySql/build/
/pratica11/HelloInsert/nbproject/private/
/pratica11/HelloInsert/build/
/vitao/pratica6/CadastroAluno/build/
/vitao/pratica6/CadastroAluno/dist/
/vitao/pratica6/CadastroAluno/nbproject/private/
/pratica12/ecommerce/nbproject/private/
/pratica12/ControleEstoque/nbproject/private/
/pratica12/ControleEstoque/build/
/pratica12/ControleEstoque/dist/
/pratica13/TesteTCP/nbproject/private/
/pratica13/TesteTCP/build/
/pratica13/TesteTCP/dist/
/pratica13/ChatContinuo/nbproject/private/
/pratica13/ChatContinuo/build/
/pratica13/ChatContinuo/dist/
/pratica14/TesteThread/nbproject/private/
/pratica14/TesteThread/build/