/pratica1/exercicio4/Aula03/nbproject/private/
/pratica1/exercicio4/Aula03/build/
/pratica2/ex1/JavaApplication3/nbproject/private/
/pratica2/ex1/Concessionaria/nbproject/private/
/pratica2/ex1/Concessionaria/build/
/pratica2/ex2/TesteHeranca/nbproject/private/
/pratica2/ex3/Ex3/nbproject/private/
/pratica3/exerciciosInterfaces/nbproject/private/
/pratica3/exerciciosInterfaces/build/